<h1>Hi <%= @user.name %></h1>

<p>
You've been invited to test the <%= @group.app.name %> app.

You can now start testing <%= @group.app.name %> app and we will notify you if a new version is a available.

<% if @group.main_release.present? || @group.second_release.present? %>
  <%= link_to "Download #{@group.app.name} app now", mobile_app_url(@group.app), target: "_blank" %>
<% end %>

<% unless @user.tum_id.blank? %>
  Please log in with your TUM-Identifier (<%= @user.tum_id %>) <%= link_to "here", mobile_app_url(@group.app), target: "_blank" %>
<% end %>
</p>
